<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.momo.customer.mapper.CustomerMapper"> 

  <select id="selectById" resultType="Customer" parameterType="string">
   SELECT * FROM customer WHERE user_id = #{id} <!-- 비워두지말고 property인 것처럼 뭐라도 넣어놓기 -->
  </select>
  
  <select id="selectByName" resultType="Customer" parameterType="map">
   SELECT * FROM customer WHERE name=#{name} and email=#{email}
  </select>
  
  <select id="searchPwd" resultType="Customer" parameterType="map">
  SELECT * FROM customer WHERE user_id=#{id} and name=#{name} and email=#{email}
  </select>
  
  <insert id="insert" parameterType="map">
  	INSERT INTO customer(user_id, pwd, name) VALUES ( #{i}, #{p}, #{n})
  </insert>
  
  <insert id="signup" parameterType="map">
  	INSERT INTO customer(user_id, name, pwd, phone_number, email, address, birth_date, user_sex, user_type, user_status, introduce, date_created) 
  	VALUES (#{userId}, #{name}, #{pwd}, #{phoneNumber}, #{email}, #{address}, #{birthDate}, #{userSex}, #{userType}, #{userStatus}, #{introduce}, #{dateCreated})
  </insert>
  
  <select id="countSitters" resultType="int">
	SELECT COUNT(*) FROM customer WHERE user_type=0
  </select>

  <select id="selectSitters" parameterType="map" resultType="Customer">
	SELECT * FROM customer WHERE user_type=0 AND address LIKE '%'||#{a}||'%'
  </select>
  
  <update id="infoupdate" parameterType="map">
	UPDATE CUSTOMER
    SET
    	email = #{email},
    	phone_number = #{phoneNumber},
    	address = #{address}
    WHERE user_id = #{id}
   </update>
  
</mapper>
