<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.momo.history.mapper.HistoryMapper"> 
  
 <insert id = "insert" parameterType="map">
 INSERT INTO history
<!-- (history_no, user_id, start_date, end_date, status, sitter_id)  -->
VALUES (history_seq.NEXTVAL, #{userId}, #{startDate}, #{endDate},#{status},#{sitterId})
 </insert>
  
<select id="selectById" resultType="History" parameterType="map">
SELECT * FROM history WHERE sitter_id=#{loginedId}
</select>
  
<select id="count" resultType="int">
SELECT COUNT(*) FROM history
WHERE sitter_id=#{id}
</select>  
 
<select id="selectAllById" parameterType="map" resultType="History">
SELECT * FROM 
(SELECT rownum rn, a.* 
FROM (SELECT * FROM history WHERE sitter_id = #{userId} ORDER BY start_date DESC) a)
WHERE rn BETWEEN #{startRow} AND #{endRow}
</select>

</mapper>
