<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.momo.customer.mapper.HistoryMapper"> 
  
  <insert id="inserthistory" parameterType="map">
  	INSERT INTO history(history_no, user_id, start_date, end_date, user_type, status) VALUES ( #{n}, #{i}, #{s}, #{e}, #{t}, #{status})
  </insert>
</mapper>
