h1 {
	text-align: center;
	margin-bottom: 40px;
}
.reviewList-wrap {
	display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}

/* 페이징 */
.pagegroup {
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    font-size: 1.2rem;
    height: 40px;
}

/* 페이지네이션 버튼에 일관된 스타일 적용 */
.pagegroup span {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    line-height: 40px;
    border: 1px solid #ddd;
    text-align: center;
    cursor: pointer;
    margin: 0 10px;
    font-size: 1.2rem; /* 일관된 글꼴 크기 설정 */
}




