table.historylist{
	border:1px solid;
	border-collapse:collapse;
	margin:auto;
}
table.historylist td, table.historylist th{
	border:1px solid;
}
tr{
	text-align:center;
}

.pagegroup {
    margin-top: 30px;
    text-align: center;
    font-size: 1.2rem;
    height:40px;
}

.pagegroup span {
    display: inline-block;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-left: 0;
    line-height: 40px;
    border : 1px solid #ddd;
    text-align: center;
    cursor : pointer;
}