*{
    box-sizing: border-box;
}

form.login>input[name=id],form.login>input[name=pwd] {
    width: 30%;
}
button.bt_login{
	display: block;
    width: 50%;
    padding: 13px 0 13px;
    border-radius: 6px;
    border: solid 1px rgba(0,0,0,.15);
    background-color: #03c75a;
    box-sizing: border-box;
}
li {
	display:inline-block;
    width: 15%;
    padding: 5px;
    text-align: center;
    vertical-align: middle; 
}
li:hover{
    cursor: pointer;
}
@media screen and (max-width:500px){
    form.login>span{
        display:block;
    }
}
