section {
    background-color: rgb(244, 245, 246);
    height: 500px;
    width: 100%;
    /* position: relative;
    left: 0;
    top: 70px; */
<<<<<<< Updated upstream
    margin-top: 70px;
=======
    margin-top: 0;
    overflow: hidden;

>>>>>>> Stashed changes
}
.aside-next {
	 background-color: white;
}
section>div {
    background-color: rgb(244, 245, 246);
    height: 100%;
    float: left;
    width: 80%;
}

section>aside {
    background-color: #0082e6;
    height: 100%;
    float: left;
    width: 20%;
}

section>aside>nav>ul {
    width: 100%;
    padding: 0;
    text-align: center;
}

<<<<<<< Updated upstream
section>aside>nav>ul>li:hover{
	background-color: yellow;
} 
=======
img {
/* 	height: 480px;
	margin-top: px; */
}
img.dog {
	width: 50%;	
}
img.cat {
	width: 49%;
}
>>>>>>> Stashed changes
