section {
    background-color: rgb(244, 245, 246);
    height: 500px;
    width: 100%;
    /* position: relative;
    left: 0;
    top: 70px; */
    margin-top: 70px;
}
.aside-next {
	 background-color: white;
}
section>div {
    background-color: rgb(244, 245, 246);
    height: 100%;
    float: left;
    width: 80%;
}

section>aside {
    background-color: #0082e6;
    height: 100%;
    float: left;
    width: 20%;
}

section>aside>nav>ul {
    width: 100%;
    padding: 10px;
    text-align: center;
}
section>aside>nav>ul>li{
	padding : 5px;
	}

/* 
section>aside>nav>ul>li:hover{
	background-color: yellow;
}  */