section {
    background-color: #00704a;
    height: 500px;
    width: 100%;
    /* position: relative;
    left: 0;
    top: 70px; */
    margin-top: 70px;
}
section>div {
    background-color: aqua;
    height: 100%;
    float: left;
    width: 80%;
}

section>aside {
    background-color: azure;
    height: 100%;
    float: left;
    width: 20%;
}

section>aside>nav>ul {
    width: 100%;
    padding: 0;
    text-align: center;
}

section>aside>nav>ul>li:hover{
	background-color: yellow;
}